
/* styles -----------------------------------*/
body,html{ width: 100%; height: 100%;  font-family: sans-serif, 微軟正黑體; font-size: 18px;line-height: 18px;
		  
}
        *{ box-sizing: border-box; margin: 0; border: 0; padding: 0; }

nav{
	width: 100%;
	height: 100px;
	margin: 0 auto;
}
nav > section{
	display: flex;
	justify-content: space-between;
	max-width: 1000px;
	margin: 0 auto;
}
nav > section > #logo { 
	width: 120px;
	padding:20px;
}
nav > section > #about {
	padding: 20px;
}
a{
	text-decoration:none;
	color: black;
}
a:hover{
	color: gray;
}
section > .white{
	background-color:white;
	width: 100%;
}
header{
	grid-gap: 1rem;
	max-width: 700px;
	margin: 0 auto;
	height:300px;
	padding: 20px;
}
header > .name{
	float: left;
	display: block;
	font-family:arial Regular;
	line-height: 1.5em;
	padding-top: 50px;
}
main{
	width: 100%;
	margin: 0 auto;
	

}
main > section{
	
	max-width: 1000px;
	margin: 0 auto;
}
.BGalpha{
	 background-image: url(../images/R.svg) transparent=50%;
	 background-repeat: no-repeat;
		   background-size: 100% 100%;
		   background-position: left 20% bottom 0;
	background-color: aqua;
	
}

svg { display: none; }
html { width: 100%; height: 100%; }

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
	margin: 0 auto;
	padding: 10px;
}

/* bt1 -----------------------------------*/
.b1{
	position:relative;
	
}
.b1 > img{
	transform: translateY(10px);
	max-width: 450px;
}
.project-info1{
	position:absolute;
    top:0px;
    left:20px;
    transform: translateY(10px);
    opacity: 0;
	color: white;
	z-index: 100;
}
.b1:hover .project-info1{
	transform: translateY(0px);
	-webkit-transform: translateY(0px);
	transition: 1s;
	opacity: 1;
}
.b1:hover > img{
	transform: translateY(0px);
	-webkit-transform: translateY(0px);
	transition: 1s;
	filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.5))  brightness(.5);
}
.project-info1 > h1{
	font-family: Arial Black;
	font-size: 2em;
}
.project-info1 > p{
	font-family: Arial;
	font-size: 1em;		
}

/* bt2 -----------------------------------*/
.b2{
	position:relative;
	top: 150px;
}
.b2 > img{
	transform: translateY(10px);
	max-width:  450px;
}
.project-info2{
	position:absolute;
 	top: 0;
	left: 20px;
    transform: translateY(10px);
    opacity: 0;
	color: white;
	z-index: 100;
}
.b2:hover .project-info2{
	transform: translateY(0px);
	-webkit-transform: translateY(0px);
	transition: 1s;
	opacity: 1;
}
.b2:hover img{
	transform: translateY(0px);
	-webkit-transform: translateY(0px);
	transition: 1s;
	filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.5))  brightness(.5);
}
.project-info2 > h1{
	font-family: Arial Black;
	font-size: 2em;
}
.project-info2 > p{
	font-family: Arial;
	font-size: 1em;		
}

/* bt3 -----------------------------------*/
.b3{
	position:relative;
	top: 80px;
	left: 50px;
}
.b3 > img{
	transform: translateY(10px);
	max-width:  450px;
}
.project-info3{
	position:absolute;
 	top: 0;
	left: 20px;
    transform: translateY(10px);
    opacity: 0;
	color: white;
	z-index: 100;
}
.b3:hover > .project-info3{
	transform: translateY(0px);
	-webkit-transform: translateY(0px);
	transition: 1s;
	opacity: 1;
}
.b3:hover > img{
	transform: translateY(0px);
	-webkit-transform: translateY(0px);
	transition: 1s;
	filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.5))  brightness(.5);
}
.project-info3 > h1{
	font-family: Arial Black;
	font-size: 2em;
}
.project-info3 > p{
	font-family: Arial;
	font-size: 1em;		
}

/* bt4 -----------------------------------*/
.b4{
	position:relative;
	top: 200px;
	left: 0;
}
.b4 > img{
	transform: translateY(10px);
	width:  300px;
	height: 400px;
	object-fit: cover;
	object-position: -150px -80px;
}
.project-info4{
	position:absolute;
 	top: -5px;
	left: 20px;
    transform: translateY(10px);
    opacity: 0;
	color: white;
	z-index: 100;
}
.b4:hover .project-info4{
	transform: translateY(0px);
	-webkit-transform: translateY(0px);
	transition: 1s;
	opacity: 1;
}
.b4:hover img{
	transform: translateY(0px);
	-webkit-transform: translateY(0px);
	transition: 1s;
	filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.5))  brightness(.5);
}
.project-info4 > h1{
	font-family: Arial Black;
	font-size: 2em;
	line-height: 1em;
}
.project-info4 > p{
	font-family: Arial;
	font-size: 1em;
	line-height: 1em;
}
/* footer -----------------------------------*/
footer {
	position: relative;
	width: 100%;
	background-color: ;
	font-size: 0.5em;
	color: rgb(120,120,120,1);
	top: 50%;
	text-align: center;
}
footer > section{
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
	padding-bottom: 10px;
}

/* MQ -----------------------------------*/
@media (max-width:600px){
	main > section{
		margin-top: 80px;
		padding: 20px;
	}
	.container{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 20%;
		grid-gap: 12%;
		position: relative;
		margin: 0 auto;
		padding: 0;
		padding-bottom: 100px;
		height: auto;
	}
	.b1 {
		width:100%;
		margin: 0 auto;
	}
	.b1 > img {
		max-width: 100%;	
		margin: 0 auto;
		transform: translateY(0px);
	}
	.b2 {
		width:100%;
		top: 0;
		left: 0;
	}
	.b2 > img {
		max-width: 100%;	
		margin: 0 auto;
		transform: translateY(0px);
	}
	.b3 {
		width:100%;
		top: 0;
		left: 0;
	}
	.b3 > img {
		max-width: 100%;	
		margin: 0 auto;
		transform: translateY(0px);
	}
	.b4 {
		width:100%;
		top: 0;
		left: 0;
	}
	.b4 > img {
		width: 450px;
		max-height: 250px;
		max-width: 100%;
		object-fit:cover;
		object-position: -60px -50px;
		margin: 0 auto;
		transform: translateY(0px);
	}
	.project-info1 {
		left:0;
		opacity: 1;
		color: rgb(70,70,70,1);
		margin-top:  -80px;
		line-height: 0;
	}
	.project-info1 > h1{
		font-size: 1.6em;
	}
	.project-info1 > p{
		font-size: 0.9em;
		line-height: 1em;
	}
	.project-info2 {
		left:0;
		opacity: 1;
		color: rgb(70,70,70,1);
		margin-top:  -70px;
		line-height: 0;
	}
	.project-info2 > h1{
		font-size: 1.6em;
	}
	.project-info2 > p{
		font-size: 0.9em;
		line-height: 1em;
	}
	.project-info3 {
		left:0;
		opacity: 1;
		color: rgb(70,70,70,1);
		margin-top:  -70px;
		line-height: 0;
	}
	.project-info3 > h1{
		font-size: 1.6em;
	}
	.project-info3 > p{
		font-size: 0.9em;
		line-height: 1em;
	}
	.project-info4 {
		left:0;
		opacity: 1;
		color: rgb(70,70,70,1);
		margin-top:  -70px;
		
	}
	.project-info4 > h1{
		font-size: 1.6em;
		line-height: 0;
		
	}
	.project-info4 > p{
		font-size: 0.9em;
		line-height: 1em;
		
	}
}
@media (min-width:601px) and (max-width:900px){
	main{
		width: 100%;
		margin: 0 auto;	
	}
	main > section{
		max-width: 90%;
		margin: 0 auto;
	}
	.container{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		position: relative;
		margin: 0 auto;
	}
	.b1 {
		position:relative;
		width: 45%
	}
	.b1 > img {
		transform: translateY(0px);
		max-width:100%;
		margin: 0 auto;
	}
	.b2 {
		top: 100px;
		position:relative;
		width: 45%
		
	}
	.b2 > img {
		transform: translateY(0px);
		max-width: 100%;	
		margin: 0 auto;
	}
	.b3 {
		position:relative;
		width: 45%;
		left: 5%;
	}
	.b3 > img {
		transform: translateY(0px);
		max-width: 100%;	
		margin: 0 auto;	
	}
	.b4 {
		top: 250px;
		left: 10%;
		position:relative;
		width: 45%;
		
	}
	.b4 > img {
		transform: translateY(0px);
		max-width: 80%;	
		margin: 0 auto;
		width:  240px;
		height: 320px;
		object-fit: cover;
		object-position: -120px -80px;
	}
	.project-info1 {
		left:0;
		opacity: 1;
		color: rgb(70,70,70,1);
		margin-top:  -80px;
		line-height: 0.5em;
	}
	.project-info1 > h1{
		font-size: 1.6em;
	}
	.project-info1 > p{
		font-size: 0.9em;
		line-height: 1em;
	}
	.project-info2 {
		left:0;
		opacity: 1;
		color: rgb(70,70,70,1);
		margin-top:  -80px;
		line-height: 0.5em;
	}
	.project-info2 > h1{
		font-size: 1.6em;
	}
	.project-info2 > p{
		font-size: 0.9em;
		line-height: 1em;
	}
	.project-info3 {
		left:0px;
		opacity: 1;
		color: rgb(70,70,70,1);
		margin-top:  -80px;
		line-height: 0.5em;
	}
	.project-info3 > h1{
		font-size: 1.6em;
	}
	.project-info3 > p{
		font-size: 0.9em;
		line-height: 1em;
	}
	.project-info4 {
		left:0px;
		top: -2em;
		opacity: 1;
		color: rgb(70,70,70,1);
		margin-top:  -80px;
		width: 240px;
	}
	.project-info4 > h1{
		font-size: 1.6em;
		line-height: 1em;
		margin-bottom: 8px;
	}
	.project-info4 > p{
		font-size: 0.9em;
		
		padding: -20px;
	}
}
@media (min-width:901px) and (max-width:1200px){
	main{
		width: 100%;
		margin: 0 auto;	
	}
	main > section{
		max-width: 90%;
		margin: 0 auto;
	}
	.container{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		position: relative;
		margin: 0 auto;
	}
	.b1 {
		position:relative;
		width: 45%
	}
	.b1 > img {
		transform: translateY(0px);
		max-width:100%;
		margin: 0 auto;
	}
	.b2 {
		top: 100px;
		position:relative;
		width: 45%
		
	}
	.b2 > img {
		transform: translateY(0px);
		max-width: 100%;	
		margin: 0 auto;
	}
	.b3 {
		position:relative;
		width: 45%;
		left: 5%;
	}
	.b3 > img {
		transform: translateY(0px);
		max-width: 100%;	
		margin: 0 auto;	
	}
	.b4 {
		top: 250px;
		left: 10%;
		position:relative;
		width: 45%;
		
	}
	.b4 > img {
		transform: translateY(0px);
		max-width: 80%;	
		margin: 0 auto;
		width:  240px;
		height: 320px;
		object-fit: cover;
		object-position: -120px -80px;
	}
	.project-info1 {
		left:0;
		opacity: 1;
		color: rgb(70,70,70,1);
		margin-top:  -80px;
		line-height: 0.5em;
	}
	.project-info1 > h1{
		font-size: 1.6em;
	}
	.project-info1 > p{
		font-size: 0.9em;
		line-height: 1em;
	}
	.project-info2 {
		left:0;
		opacity: 1;
		color: rgb(70,70,70,1);
		margin-top:  -80px;
		line-height: 0.5em;
	}
	.project-info2 > h1{
		font-size: 1.6em;
	}
	.project-info2 > p{
		font-size: 0.9em;
		line-height: 1em;
	}
	.project-info3 {
		left:0px;
		opacity: 1;
		color: rgb(70,70,70,1);
		margin-top:  -80px;
		line-height: 0.5em;
	}
	.project-info3 > h1{
		font-size: 1.6em;
	}
	.project-info3 > p{
		font-size: 0.9em;
		line-height: 1em;
	}
	.project-info4 {
		left:0px;
		top: -2em;
		opacity: 1;
		color: rgb(70,70,70,1);
		margin-top:  -80px;
		width: 240px;
	}
	.project-info4 > h1{
		font-size: 1.6em;
		line-height: 1em;
		margin-bottom: 8px;
	}
	.project-info4 > p{
		font-size: 0.9em;
		
		padding: -20px;
	}
}
@media (min-width:1201px) and (max-width:1800px){
	
}
@media (min-width:1801px){
	
}